<% provide(:title, "Help") %>

<h1>Sample App</h1>
<p>
  Consigue ayuda para el tutorial Ruby on Rails 4 en
  <a href="http://www.rubyonrailstutorial.org/#help">Tutorial Rails</a>
  Para conseguir ayuda sobre esta sample app, ver el libro
  <a href="http://www.rubyonrailstutorial.org/book"><em>Libraco</em></a>
</p>
